.App {
  text-align: center;
}

/* canvas */
/* chart */
	#chart-wrapper{
		position:absolute;
	}

	#chart{
		border:solid;
		border-width:0 0 2px 2px;
		border-color:#1dd2af;
	}

/* percentage */
#percentage {
  position:absolute;
  top:0;
  left:-30px;
  margin-top: -2px;
}

#percentage>span {
  display:block;
  color:#1dd2af;
  font-size:16px;
  height:40px;
}

/* seconds */
#seconds {
  margin-left:60px;
}

#seconds>span{
  width: 80px;
  display: inline-block;
  color:#1dd2af;
  font-size:16px;
}
